<div class="game-detail-screen">
    <app-header></app-header>

    <div class="container">

        <div class="row p-4">
            <div class="col-12 col-md-6">
                <img [src]="game.image" [alt]="game.title">
            </div>
            <div class="col-12 col-md-6 p-4">
                <h2 class="text-center">{{game.title}}</h2>
                <p>{{game.description}}</p>
                <hr>
                <p>Positives: {{game.positives}}</p>
                <p>Negatives: {{game.negatives}}</p>
                <hr>
                <p>
                    Themes:
                </p>
                <ul>
                    <li *ngFor="let theme of game.themes">{{theme.name}}</li>
                </ul>
   
            </div>
        </div>


    </div>


    <div class="footer-box">
        <app-footer></app-footer>
    </div>
</div>