<footer class="main-footer">
    <div class="footer-section">
        <ul>
            <li>Date: 9/3/2024</li>
            <li>Creator: José Luis</li>
            <li><img src="/assets/imgs/gameskills.png" alt="Game Skills logo"></li>
        </ul>
    </div>
    <div class="footer-section">
        <ul>
            <li>
                <a href="#">Legal information</a>
            </li>
            <li>
                <a href="#">Accesibility information</a>
            </li>
        </ul>
    </div>
</footer>